## Functions:

In [ ]:
def greeting():
    """Function displaying a greeting"""
    print('Hello!')

greeting()

In [ ]:
help(greeting)

In [ ]:
#Repetición de código
print('We are learning to Code')
print('We are learning Python language')
print('We are learning Functional programming\n')

print('We are learning to Code')
print('We are learning Python language')
print('We are learning Functional programming\n')

print('We are learning to Code')
print('We are learning Python language')
print('We are learning Functional programming\n')

print('We are learning to Code')
print('We are learning Python language')
print('We are learning Functional programming\n')

In [ ]:
# Functions avoid code repetition
def msg():
    print('We are learning to code')
    print('We are learning Python language')
    print('We are learning Functional Programming\n')

msg()
msg()
msg()
msg()

# for i in range(4):
#     msg()

In [ ]:
# Function containing 2 parameters as input data
def full_name(name, ln):
    """Displays user's full name"""
    # joining text with +
    print(name.title() + ' ' + ln.title())

full_name('Joaquín','Capilla')
full_name('Vasconcelos','Jose') # Positional Arguments
full_name(ln = 'Vasconcelos', name ='Jose') # Keyword Arguments

In [ ]:
help(full_name)

In [ ]:
# Basic Function to display a message
def FN(name, last_name = 'Pérez'): # Default value for a parameter
    """Displays user's full name"""
    # Joining text with +
    message = name.title() + ' ' + last_name.title()
    print(message)

FN('Sergio') #Using the default value parameter
FN(name = 'Sergio', last_name = 'Rodriguez') # Changing the default parameter value
FN('Max','Verstappen') # Another way to change the default parameter value
#NC() #Error missing 1 required positional argument: 'nombre'
#NC('Sergio','Perez','Rodríguez') # Error 3 positional arguments

In [ ]:
#Function computing a value
def f1(x,y):
    """Function returning the sum of 2 numbers"""
    y = x + y
    return y

print(f1(2,3))
print(f1(7,8))

In [ ]:
# Funtion to convert MMCFD to M3/D
def convert(V):
    return (1e6*V*0.3048**3)/24

print(convert(1))
print(convert(5))

In [ ]:
#Distance between two points
import math

def dist(x1,y1,x2,y2):
    """Computes the distance between 2 points"""
    d = math.sqrt((y2-y1)**2 + (x2-x1)**2)
    return round(d,4)

print(dist(3,4,5,7))
print(dist(1,2,8,9))

In [ ]:
# Basic Calculator
def calc(a,b,oper):
    """Function to compute basic arithmetic operations"""
    if oper == 'add':
        res = a + b
    elif oper == 'sub':
        res = a - b
    elif oper == 'mul':
        res = a*b
    elif oper == 'div':
        res = a/b
    elif oper == 'pow':
        res = a**b
    else:
        res = ('Error: Unidentified operation.')
    return res

print(calc(5.7846,6.4578,'pow'))
print(calc(5.7846,6.4578,'add'))

In [ ]:
#Function to create a dictionary
def emp_data(name, last, age, sen):
    """Fill a dictionary with employee data"""
    Employee = {'Name':name.title(), 'Last name':last.title(),'Age':age, 'Seniority':sen}
    return Employee

print(emp_data('Matt','Harrison',35,12))
print(emp_data('Ritchie','Vink',38,15))

In [ ]:
# Using a list "[]" as a function input parameter
def x_cubic(List):
    """Raise the elements of the list to power 3"""
    L = []
    for element in List:
        element **= 3 # element = element ** 3
        L.append(element)
    print(L)
      
A = [2,4,6,8,10,15]    
x_cubic(A)

In [31]:
# Same function using a list comprehension

In [ ]:
#Function with unknown parameters
def sandwich(*ingredients):
    """Displays the list of ingredients"""
    print("You've chosen a sandwich with the following ingredients:\n")
    for i in ingredients:
        print('- ' + i.title())

sandwich('ham','cheese','lettuce')
sandwich('ham','cheese','lettuce','tomato','avocado')

In [ ]:
# Function to compute tubing or casing or annulus volume (m3)
def cap(de,di,long):
    vol = 0.5067*abs((de**2-di**2))*long*1/1000
    return vol

vol_int = cap(0,8.535,1660)
vol_EA = cap(8.535,3.2962,1548.16)
print(vol_int)
print(vol_EA)

In [ ]:
# Wellbore-42 volumes example
V1 = cap(6.276,1.75,76.92)
V2 = cap(4.892,1.75,3854.22-76.92)
V3 = cap(3.958,1.75,4770-3854.22)
V4 = cap(4.67,1.75,5006-4770.7)
V5 = cap(1.5,0,5006)
V6 = cap(4.67,0,5048.78-4858.78)
total = V1 + V2 + V3 + V4 + V5 +V6
print('V1:',V1,'V2:',V2,'V3:',V3,'V4:',V4,'V5:',V5,'V6:',V6,sep='\n')
print('total=',total)

In [ ]:
# 1.- Convert °API degrees to density (GE = (141.5)/(131.5 + °API))
# 2.- Compute fluid column height (Ph = dh/10)
# 3.- Calcular la diferencia de alturas (NF = h - PR)

# Computing fluid level in wellbore
def FL(API,P,PR):
    d = 141.5/(131.5 + API)
    h = P*10/d
    fl = PR - h
    return fl

level_B_63 = FL(28.21,211,4500)
print('Fluid level:',round(level_B_63,3), 'm')

In [ ]:
# Computing cementing volumes Well-53, Casing 20", 129.33#, DRILL-QUIP, X-52
def cemen(De,di,L,E,Rend,Req):
    vol_exc = 0.5067*abs((De**2-di**2))*L*(1+(E/100))*6.2898/1000
    s = (vol_exc / Rend)*(1000/6.2898)
    cem = (s*50)/1000
    vol_agua = (s*Req)/1000
    return vol_exc, s, cem, vol_agua

v_ll, sac_ll, cem_ll, v_agua_ll = cemen(26,20,297,180,58.99,42.735)  
print(v_ll, sac_ll, cem_ll, v_agua_ll, sep='   ')

## Recursion

In [ ]:
# Count_Down
def count_down(n):
    print(n)
    if n == 0:
        return
    else:
        count_down(n-1)

count_down(5)

In [ ]:
# Factorial of a number
def fact(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * fact(n-1)

fact(5)

In [ ]:
# Factorial of a number (one-liner)
def factorial(n):
    return 1 if n <= 1 else n * factorial(n-1)

factorial(5)

## Anonymous Functions or Lambda Expressions:

In [ ]:
# Area of a triangle
Area = lambda b,h: b*h/2

print(Area(2,5))
print(Area(3,4))

In [ ]:
# Adding 3 numbers
Suma = lambda x,y,z: x+y+z

print(Suma(3,8,12))
print(Suma(4,5,6))

In [ ]:
# Evens and odds
def evens(L):
    """Get the evens from a list"""
    list_evens = []
    for i in L:
        if i%2 == 0:
            list_evens.append(i)
    return list_evens

def odds(lista):
    """Get the odds from a list"""
    list_odds = []
    for i in lista:
        if i%2 != 0:
            list_odds.append(i)
    return list_odds

L = [1,2,3,4,5,6,7,8,9,10]

print(evens(L) )
print(odds(L))

In [ ]:
# Lambda and Filter() functions 
L_evens_2 = filter(lambda x:x%2 == 0,L)
L_odds_2 = filter(lambda x:x%2 != 0,L)
print(list(L_evens_2))
print(list(L_odds_2))

In [ ]:
# Lambda and Map() functions 
N = [1,2,3,4,5,6,7,8,9,10]
M = list(map(lambda x:x+x,N))

print(M)

In [58]:
# Lambda and reduce() functions
from functools import reduce

L = list(range(5)) # 0, 1, 2, 3, 4 = 10
resultado = reduce(lambda x,y:x+y,L)
print(resultado)

10