# Variables and Datatypes:

In [1]:
variable = 'Hello World' # string with simple quotation marks
print(variable)

Hello World

In [2]:
message = "Hello World"   # string with double quotation marks
print(message)

Hello World

In [3]:
msg = "Peter's Book"     # string with simple and double quotation marks
print(msg)

Peter's Book

In [4]:
msg_0 = 'Peter"s Book'     # Inverting the simple and double quoatation marks
print(msg_0)

Peter"s Book

In [5]:
print('"The Big Bang Theory"')  # string including double quotation marks

"The Big Bang Theory"

In [6]:
# type function to identify datatype
type(5)

int

In [7]:
type(10.82)

float

In [8]:
type(4 + 7j)

complex

In [9]:
type('this is a text')

str

In [10]:
type(True)

bool

In [15]:
type(False)

bool

In [11]:
type((1,5,8,'Hello'))

tuple

In [12]:
tupla = (1,5,8,'Hello')
type(tupla)

tuple

In [13]:
List = [1,2,3,4,5,6]
type(List)

list

In [23]:
D = {'Pedro':31, 'Maria':26, 'Gabriel':35}
type(D)

dict

# Arithmetic operators

In [25]:
7 + 5 # Addition (+)

12

In [26]:
10 - 15 # Subtraction (-)

-5

In [27]:
9*9  # Multiplication (*)

81

In [28]:
2**4  # Power (**)

16

In [32]:
# Power function 
y = pow(2,4)
y

16

In [33]:
10/3  # DiVision (/)

3.3333333333333335

In [35]:
10//3  # floor division (//)

3

In [37]:
15%4  # remainder (//)

3

In [38]:
# floor division and remainder
divmod(15,4)

(3, 3)

In [14]:
# Order of operations = PEMDAS
10-2**3/4+1

9.0

In [15]:
10-(2**3)/4+1

9.0

In [17]:
10-(8)/4+1
8/4

2.0

In [19]:
10-2.0+1

9.0

# Comparison operators

In [20]:
# <, >, <=, >=, !=, ==

In [21]:
6 < 2

False

In [22]:
9 > 5

True

In [23]:
7 <= 6

False

In [24]:
15 >= 14

True

In [25]:
10 != 20

True

In [26]:
20 != 20

False

In [27]:
20 == 20

True

In [28]:
a = 6
a += 2  # the same as = a+2
a

8

In [29]:
a = 6
a -= 2  # the same as = a-2
a

4

In [30]:
a = 6
a *= 2  # the same as = a*2
a

12

In [31]:
a = 6
a /= 2  # the same as = a/2
a

3.0

In [32]:
a = 6
a //= 4  # the same as = a//2
a

1

In [33]:
a = 6
a %= 4  # the same as = a**2
a

2

In [34]:
a = 6
a **= 4  # the same as = a**2
a

1296

# Logic operators

In [ ]:
# not, and, or

In [35]:
4 < 6 and 7 > 8

False

In [36]:
3 > 5 or 7 < 6 or 10 == 10

True

In [37]:
not True

False

In [38]:
not False

True

# General operations

In [40]:
'Hello '+ 'Pythonista'  # (+) symbol can be use to concatenate strings

'Hello Pythonista'

In [41]:
4 + 8.0     # Adding an integer and a float gives a float number

12.0

In [42]:
Res = 4*8  # Multiplication of an integer and a float gives a float
print(Res,',',type(Res))

32 , <class 'int'>

In [44]:
'Europe'*5   # multiplication polymorphism

'EuropeEuropeEuropeEuropeEurope'

In [45]:
# round function
m = 2.8/1.1
print(m)
print(round(m,6))

2.545454545454545
2.545455

# Conversion

In [47]:
float(5)   # Conversion integer into float

5.0

In [46]:
int(3.8)   # Conversion float into integer

3

In [48]:
str(456)   # Conversion ingeter into string

'456'

In [49]:
# input function to ask the user a value
n = input('type a number: ')
print(type(n))

<class 'str'>

In [51]:
# changing the string into an integer
n_2 = int(input('type a number: '))
print(type(n_2))

<class 'int'>

# Declaring variables

In [ ]:
# Python is a dynamically typed language. It is not necessary to declare the type of variable.

In [52]:
a = 10

In [53]:
b= 3.4

In [55]:
c= a + b
c

13.4

In [56]:
# Assigning multiple variables in one-line
var0, var1, var2 = 5, 7.89, 1+3j
print(var0)
print(var1)
print(var2)

5
7.89
(1+3j)

In [58]:
Tuple = ('France','Italy', 'Germany', 'England')
Tuple

('France', 'Italy', 'Germany', 'England')

In [59]:
List = [1,2,3,4,5,6,7,8,9,10] 
List

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [60]:
Dict = {'Y':'B-22', 'C':'E-32', 'S':'T-22'}
Dict

{'Y': 'B-22', 'C': 'E-32', 'S': 'T-22'}